# PostgreSQL
DATABASE_URL=postgres://ravinier_owner:somesecretpassword@postgresd:5432/ravinier?sslmode=disable&max_conns=20&max_idle_conns=4

# S3 or S3 compatible storage credential
S3_ENDPOINT=http://lemon.com:9000
S3_ACCESS_KEY=ravinier
S3_SECRET_KEY=somesecretpassword
S3_BUCKET=ravinier

DBMATE_MIGRATIONS_TABLE='migrations'
DBMATE_MIGRATIONS_DIR='./database/migrations'
DBMATE_NO_DUMP_SCHEMA=true